In [383]:
import pandas as pd

data = pd.read_csv("day8.txt", header=None)
data = data[0].str.split("", expand=True)

dt = data.drop(data.columns[0], axis=1)
dt2 = dt.drop(data.columns[100], axis=1)

In [384]:
with open("day8.txt") as f:
    text = f.read().splitlines()
    
revlines = []
for line in text:
    linelen = len(line)
    revline = line[linelen::-1]
    revlines.append(revline)
    
hor_mask = []
for line in text:
    hor_line_mask = []
    highest = -1
    for char in line:
        height = int(char)
        if height > highest:
            visible = True
            highest = height
        else:
            visible = False
        hor_line_mask.append(visible)
    hor_mask.append(hor_line_mask)
    
vert_mask = []
for nr in range(0, len(text[0])):
    vert_line_mask = []
    highest = -1
    for line in text:
        height = int(line[nr])
        if height > highest:
            visible = True
            highest = height
        else:
            visible = False
        vert_line_mask.append(visible)
    vert_mask.append(vert_line_mask)
    
rev_hor_mask = []
for line in revlines:
    rev_hor_line_mask = []
    highest = -1
    for char in line:
        height = int(char)
        if height > highest:
            visible = True
            highest = height
        else:
            visible = False
        rev_hor_line_mask.append(visible)
    rev_hor_mask.append(rev_hor_line_mask)
    
rev_vert_mask = []
for nr in range(0, len(revlines[0])):
    rev_vert_line_mask = []
    highest = -1
    revrevlines = revlines.copy()
    revrevlines.reverse()
    for line in revrevlines:
        height = int(line[nr])
        if height > highest:
            visible = True
            highest = height
        else:
            visible = False
        rev_vert_line_mask.append(visible)
    rev_vert_line_mask.reverse()
    rev_vert_mask.append(rev_vert_line_mask)

In [385]:
trans_hor_mask = list(map(list, zip(*hor_mask)))
trans_rev_hor_mask = list(map(list, zip(*rev_hor_mask)))

In [386]:
dtb = dt2.copy()
display(dtb)

nr = 0
for s in dtb:
    m1 = pd.Series(trans_hor_mask[nr])
    m2 = pd.Series(vert_mask[nr])
    dtb.loc[m1 | m2, s] = True
    #dtb[s].mask(m1 | m2, True, inplace=True)
    nr += 1

nr2 = 0
for s in dtb:
    m3 = pd.Series(trans_rev_hor_mask[nr2])
    m4 = pd.Series(rev_vert_mask[nr2])
    col = 100 -s
    dtb.loc[m3 | m4, col] = True
    #dtb[col].mask(m3 | m4, True, inplace=True)
    nr2 += 1
    
visible_trees = 0

tfdtb = dtb.replace(r"^[0-9]$", value=False, regex=True)
display(tfdtb)

true_count = tfdtb.sum()
visible_trees = true_count.sum()

   1  2  3  4  5  6  7  8  9  10  ... 90 91 92 93 94 95 96 97 98 99
0   0  1  1  2  0  1  0  0  1  0  ...  3  3  1  1  1  2  2  0  0  1
1   1  0  2  2  0  1  2  1  1  2  ...  2  0  1  0  0  1  2  2  2  0
2   0  0  2  0  2  2  2  3  2  2  ...  1  1  0  3  1  0  1  0  2  0
3   0  0  2  2  1  2  0  2  1  1  ...  0  3  1  0  2  0  0  0  0  0
4   2  0  2  0  0  0  3  1  2  2  ...  1  0  3  1  3  2  1  1  1  0
.. .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
94  1  1  0  3  2  1  2  3  0  3  ...  2  0  3  2  2  2  1  0  0  1
95  0  2  1  0  2  0  1  2  1  3  ...  1  2  3  0  3  0  2  0  1  0
96  1  2  2  2  0  3  0  1  2  2  ...  1  3  3  0  0  0  3  0  2  0
97  2  2  1  1  2  0  2  1  3  2  ...  1  1  0  2  3  1  2  0  1  1
98  2  0  2  2  0  1  0  3  3  3  ...  0  3  3  2  3  0  1  1  2  0

[99 rows x 99 columns]

,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,False,True,False,False,False,True,True,False,True,...,False,False,False,False,False,False,False,True,True,True
2,True,False,True,False,True,True,False,True,True,False,...,False,False,False,True,False,False,False,False,True,True
3,True,False,True,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
4,True,False,False,False,False,False,True,False,False,False,...,False,False,True,False,True,True,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,True,False,False,True,False,False,False,False,False,False,...,True,False,True,False,False,True,False,False,False,True
95,True,True,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,True,False,True,True
96,True,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
97,True,True,False,False,True,False,True,False,True,False,...,True,False,False,False,True,True,True,False,False,True
98,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [267]:
visible_trees

1845

## From here Part 2!

In [381]:
list_text_rev = list(map(list, zip(*text)))

In [382]:
scenic_list = []
for line_nr in range(0, len(text)):
    line = text[line_nr]
    for char_nr in range(0, len(line)):
        char_val = line[char_nr]
        leftcount = 0
        rightcount = 0
        upcount = 0
        downcount = 0
       
        ### This is for leftcount
        if char_nr == 0:
            leftcount = 0
        else:
            for lb in range(1, char_nr+1):
                #print("charnr"+str(char_nr), lb, "charval" + str(char_val))
                if char_val > line[char_nr - lb]:
                    leftcount += 1
                elif char_val <= line[char_nr - lb]:
                    leftcount += 1
                    break
        
        ### This is for rightcount
        if char_nr == len(line):
            rightcount = 0
        else:
            for la in range(1, len(line)-char_nr):
                if char_val > line[char_nr + la]:
                    rightcount += 1
                elif char_val <= line[char_nr + la]:
                    rightcount += 1
                    break

        ### this is for upcount
        if line_nr == 0:
            upcount = 0
        else:
            for lu in range(1, line_nr+1):
                if char_val > list_text_rev[char_nr][line_nr - lu]:
                    upcount += 1
                elif char_val <= list_text_rev[char_nr][line_nr - lu]:
                    upcount += 1
                    break
                    
        ### For downcount
        if line_nr == len(list_text_rev[char_nr]):
            downcount = 0
        else:
            for ld in range(1, len(list_text_rev[char_nr])-line_nr):
                if char_val > list_text_rev[char_nr][line_nr + ld]:
                    downcount += 1
                elif char_val <= list_text_rev[char_nr][line_nr + ld]:
                    downcount += 1
                    break
    
        scenic_list.append(leftcount*rightcount*upcount*downcount) 
        
print(max(scenic_list))

230112